body {
    background-color: #0d1b2a;
    color: #e0e1dd;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 2vw; /* Używam jednostek vw dla responsywności */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 96vh;
}

.container {
    width: 100%;
    max-width: 2560px; /* Maksymalna szerokość dla dużych ekranów */
    border: 0.3vw solid #778da9;
    background-color: #1b263b;
    border-radius: 1vw;
    padding: 2vw;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 90vh; /* Wysokość kontenera */
}

header {
    padding-bottom: 2vh;
    border-bottom: 0.2vw solid #415a77;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
}

.logo {
    background-color: #fca311;
    color: #0d1b2a;
    padding: 1vh 2vw;
    font-size: 3vw;
    font-weight: bold;
    border-radius: 0.5vw;
}

.address {
    font-size: 3vw;
    font-weight: bold;
    color: #e0e1dd;
}

.info-bar {
    display: flex;
    justify-content: space-between;
    font-size: 1.8vw;
    color: #e0e1dd;
}

main {
    flex-grow: 1;
    overflow-y: auto; /* Umożliwia przewijanie tabeli, jeśli jest za długa */
    padding: 2vh 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 2vw;
}

th, td {
    padding: 1.5vh 1vw;
    text-align: left;
    border-bottom: 0.1vw solid #415a77;
}

th {
    background-color: #415a77;
    position: sticky;
    top: 0;
}

td:nth-child(1) {
    width: 5%;
}
td:nth-child(2) {
    width: 10%;
}
td:nth-child(3) {
    width: 55%;
}
td:nth-child(4), td:nth-child(5) {
    font-weight: bold;
    color: #fca311;
    text-align: right;
    width: 15%;
}

th:nth-child(4), th:nth-child(5) {
    text-align: right;
}

td img {
    width: 4vw;
    height: auto;
    vertical-align: middle;
}

footer {
    border-top: 0.2vw solid #415a77;
    padding-top: 2vh;
    overflow: hidden;
}

.marquee-container {
    width: 100%;
    white-space: nowrap;
}

.marquee-text {
    font-size: 2.5vw;
    font-weight: bold;
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
    color: #fca311;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
